body{
    background-color: #45567d;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
  }
  
  header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #be3144;
    position: fixed;
    width: 100%;
    height: 68px;
  }
  
  .name{
    float: left;
    display: block;
    color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
  }
  
  .lt{
    float: left;
  }
  
  .lt a {
    display: block;
    color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
  }
  .li {
      float: right;
  }
  
  a.li {
    display: block;
    color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
  }
  
  a.li:hover {
      background-color: #45567d;
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  h1{
    text-align: center;
    font-size: 60px;
    color: #f0f0f0; 
    margin: 0px;
  }
  
  .learn{
    font-weight: 500; 
    color: #be3144;
    font-style: italic;
    text-align: center;
    font-size: 30px;
  }
  
  .projects-section {
    text-align: center;
  }
  
  h2{
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
    font-size: 50px;
    color: #f0f0f0;
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .code{
    background-color: #4556;
  }
  
  .bt{
    text-align: center;
    background-color: #303841;
    color: #f0f0f0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
  }
  
  .bt a{
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
    font-family: "Font Awesome 5 Free";
  }
  
  .bt a:hover{
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transform: translateX(0);
  }
  
  .contact-section {
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    width: 100%;
    height: 100%;
    background-color: #303841;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .h2{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin: 0px;
  }
  
  .para{
    font-size: 25px;
    margin: 0px;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-align: center;
  }
        
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
        
  footer {
    padding: 2rem;
  }
  
  footer > p {
    margin: 0px;
    text-align: center;
    font-size: 20px;
    color: #f0f0f0;
  }      
  
        
  .button a:link {
    background-color: #303141;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .button a:visited{
    background-color: #303141;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .button a:hover {
    background-color: #be3144;
  }
  .button a:active{
    background-color: #be3144;
  }
  button{
    border-radius: 2px;
  }
  .show{
    font-family: 'Poppins', sans-serif;
  }
  .show > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
  }
  .button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .button {
    font-size: 2rem;
    background: var(--main-gray);
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
  }
  
  .button:hover {
    background: var(--main-red);
  }
  
  .button:hover > i {
    transform: translateX(2px);
    padding-left: 10px;
  }
  .project-title{
    text-decoration: none;
    COLOR: #F0F0F0;
  }
  .code{
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    color: #303841;
  }
  
  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    BACKGROUND-COLOR: #303144;
  
  }
  
  .code {
    background-color: #303144;
    color: #303144;
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  span.code{
    color: #303144;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }
  .projects-grid{
    row-gap: 4rem;
  }
  
  .icon{
    display: block;
    color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    float: right;
  }
  a{
    text-decoration: none;
  }
  .icon{
    display: none;
  }
  
  
  
  @media (max-width: 600px){
    .ul{
      display: none;
    }
  
    .icon{
      display: block;
    }
  
  }







