*{margin: 0%; padding: 0%;}

nav a{
    float: right;
    color: #202020;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    padding-top: 5px;
    display: block;
    box-sizing: border-box;
    text-align: left;
}

.logo{
   
    height: 5px;
    margin-top: 10px;
    padding-left: 25px;
}
.text{
    text-align: center;
    margin-top: 50px;
    background: #007BD5;
    color: white;
    padding-bottom: 45px;
}
h1{
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 100px;
    font-family: Raleway, Arial, Helvetica;
    line-height: 1.75;
    font-family: var(--text-font);
}
h2{
    text-align: center;
    font-size: 30px;
    font-family: Raleway, Arial, Helvetica;
    line-height: 1.75;
    font-family: var(--text-font);
    font-weight: normal;
    
}
.email{
    padding: 10px;
    width: 400px;
    font-family: Raleway, Arial, Helvetica;
    line-height: 1.75;
    font-family: var(--text-font);
}
.button{
    padding: 11px;
    width: 200px;
    background-color: #ee1133;
    color: white;
    border:#ee1133 ;
    box-sizing: inherit;
    cursor: pointer;
    font-family: Raleway, Arial, Helvetica;
    line-height: 1.75;
    font-family: var(--text-font);
}

