  
*{margin: 0; padding: 0;  font-family: "public sans", sans-serif;}
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400&display=swap");
body{
    font-family: -sans-serif-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    display: block;
}
.header{
    width: 100%;
    height: 74px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
}
.logo{
    position: absolute;
    padding-left: 130px;
    padding-top: 15px;
}
.dropdown{
    border: 2px solid purple;
    width: 120px;
    height: 40px;
    margin-left: 1150px;
    border-radius: 10px;
    color: purple;
    position: absolute;
    margin-top: 18px;
    
}
.welcome{
    font-size: 15px;
    font-weight: 100;
    padding-left: 650px;
    padding-top: 25px;
    color: gray;
}
.doctors-name{
    padding-left: 500px;
    padding-top: 12px;
    font-size: 24px;
}
.book-appointment{
    padding-left: 480px;
    padding-top: 12px;
    color: gray;
    font-size: 14px;
}
.mid-img{
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: top;
    border: 2px solid #eeeeee;
    align-items: center;
    margin-top: 30px;
}
.doctor-img{
    display: flex;
    justify-content: center;
}
.doctor-details{
    padding: 16px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    margin: 16px;
    margin-top: 80px;
    background-color: white;
    width: 1000px;
    padding-bottom: 40px;
} 
footer{
    display: flex;
    justify-content: center;
    margin-top: 65px;
}
.doctor-name{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #575757;
}
h6{
    font-size: 12px;
    text-transform: capitalize;
    color: #575757;
    padding-bottom: 8px;
}
p{
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 100;
}
.doctor{
    padding-left: 852px;
}
.doctor-detail{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.doctor-details-2{
    padding-left: 822px;
}
.set-fdd{
    padding-left: 64px;
}
.doctor-specialty{
    padding-left: 20px;
}
.appointment-button{
    background-color: #772386;
    color: #ffffff;
    width: 1040px;
    border-radius: 5px;
    border: none;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.button{
    display: flex;
    justify-content: center;
}
.appointment-button:hover {
    background-color: #e18e00;
}
.fa-arrow-right{
 padding-left: 10px;
}