.container{
    height: 400px;
    padding-top: 20px;
    width: 600px;
    position: absolute;
    left: 180px;
}

.outer-face{
    height: 200px;
    background-color: dodgerblue;
    width: 200px;
    border-radius: 100px;
    position: absolute;
    border: 1px solid black;
    left: 200px;
}

.inner-face{
    height: 173px;
    width: 174px;
    border-radius: 85px;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    left: 13px;
    top: 25px;
}

.left-outer-eye{
    border: 1px solid black;
    height: 40px;
    width: 34px;
    background-color: white;
    border-radius: 40px;
    position: absolute;
    left: 53px;
    top: -24px;
}

.right-outer-eye{
    border: 1px solid black;
    height: 40px;
    width: 34px;
    background-color: white;
    border-radius: 40px;
    position: absolute;
    left: 89px;
    top: -24px;
}

.left-inner-eye{
    background-color: black;
    height: 11px;
    position: absolute;
    width: 8px;
    border-radius: 6px;
    left: 22px;
    top: 16px;
}

.right-inner-eye{
    background-color: black;
    height: 11px;
    position: absolute;
    width: 8px;
    border-radius: 6px;
    left: 4px;
    top: 16px;
}

.left-white-eye{
    height: 4px;
    width: 4px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    left: 3px;
    top: 3px;
}

.right-white-eye{
    height: 4px;
    width: 4px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    left: 1px;
    top: 3px;
}

.nose{
    background-color: red;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 78px;
    top: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.white-dot{
    background-color: white;
    height: 7px;
    width: 7px;
    position: absolute;
    left: 3px;
    border-radius: 4px;
    top: 3px;
}

.left-first{
    position: absolute;
    height: 2px;
    background-color: black;
    width: 50px;
    transform: skew(15deg, 15deg);
    left: 20px;
    top: 37px;
}

.left-second{
    position: absolute;
    height: 2px;
    background-color: black;
    width: 54px;
    left: 16px;
    top: 53px;
}

.left-third{
    position: absolute;
    height: 2px;
    background-color: black;
    width: 51px;
    transform: skew(165deg, 165deg);
    left: 19px;
    top: 70px;
}

.under-nose{
    position: absolute;
    height: 3px;
    background-color: black;
    width: 55px;
    transform: rotate(90deg);
    left: 61px;
    top: 57px;
}

.right-first{
    position: absolute;
    height: 2px;
    background-color: black;
    width: 50px;
    transform: skew(165deg, 165deg);
    left: 104px;
    top: 37px;
}

.right-second{
    position: absolute;
    height: 2px;
    background-color: black;
    width: 54px;
    left: 105px;
    top: 53px;
}

.right-third{
    position: absolute;
    height: 2px;
    background-color: black;
    width: 51px;
    transform: skew(15deg, 15deg);
    left: 105px;
    top: 70px;
}

.outer-mouth{
    background-color: hsl(0, 80%, 50%);
    height: 71px;
    width: 147px;
    position: absolute;
    border: 2px solid black;
    left: 15px;
    top: 86px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.left-mouth{
    height: 32px;
    position: absolute;
    width: 24px;
    top: 53px;
    left: -5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: white;
    border-top: 1px solid black;
    border-bottom-left-radius: 27px;
    border-top-right-radius: 17px;
    border-top-left-radius: 27px;
}

.right-mouth{
    height: 32px;
    position: absolute;
    width: 24px;
    top: 53px;
    left: 154px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    border-top: 1px solid black;
    border-bottom-right-radius: 27px;
    border-top-right-radius: 27px;
    border-top-left-radius: 17px;
}

.middle-mouth{
    height: 71px;
    width: 103px;
    position: absolute;
    top: 81px;
    left: 39px;
    border-top: 1px solid black;
    border-radius: 102px;
    background-color: hsl(0, 80%, 50%);
}

.left-tongue{
    background-color: pink;
    height: 37px;
    width: 42px;
    position: absolute;
    left: 38px;
    top: 33px;
    border-top-right-radius: 203px;
    border-top-left-radius: 154px;
    border-bottom-left-radius: 185px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.right-tongue{
    background-color: pink;
    height: 37px;
    width: 42px;
    position: absolute;
    left: 68px;
    top: 33px;
    border-top-left-radius: 203px;
    border-top-right-radius: 122px;
    border-bottom-right-radius: 166px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.outer-tummy{
    position: absolute;
    background-color: dodgerblue;
    height: 142px;
    width: 146px;
    left: 228px;
    top: 220px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.inner-tummy{
    background-color: white;
    position: absolute;
    height: 109px;
    width: 125px;
    left: 10px;
    border-radius: 83px;
    border: 1px solid black;
}

.pocket{
    border: 1px solid black;
    width: 112px;
    height: 53px;
    position: absolute;
    background-color: white;
    left: 6px;
    top: 48px;
    border-bottom-right-radius: 52px;
    border-bottom-left-radius: 55px;
}

.left-hand{
    height: 30px;
    position: absolute;
    background-color: dodgerblue;
    width: 80px;
    left: 177px;
    top: 186px;
    transform: rotate(45deg);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.left-round{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: white;
    border-radius: 39px;
    border: 1px solid black;
    left: -31px;
    top: -7px;
}

.right-hand{
    height: 30px;
    position: absolute;
    background-color: dodgerblue;
    width: 87px;
    left: 334px;
    top: 224px;
    transform: rotate(45deg);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.right-round{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: white;
    border-radius: 39px;
    border: 1px solid black;
    left: 73px;
    top: -7px;
}

.blank{
    background-color: white;
    position: absolute;
    height: 20px;
    width: 37px;
    left: 285px;
    top: 342px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.left-leg{
    position: absolute;
    background-color: white;
    height: 29px;
    border: 1px solid black;
    width: 69px;
    left: 221px;
    top: 359px;
    border-radius: 48px;
}

.right-leg{
    position: absolute;
    background-color: white;
    height: 29px;
    border: 1px solid black;
    width: 64px;
    left: 318px;
    top: 358px;
    border-radius: 48px;
}

.band-outer{
    position: absolute;
    height: 10px;
    width: 67px;
    background-color: red;
    left: 68px;
    top: 191px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.left-band{
    position: absolute;
    height: 11px;
    width: 37px;
    background-color: red;
    left: -32px;
    top: -7px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(19deg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
}

.right-band{
    position: absolute;
    height: 10px;
    width: 32px;
    background-color: red;
    left: 63px;
    top: -6px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(161deg);
    border-top-left-radius: 78px;
}

.bell{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: yellow;
    left: 19px;
    top: 3px;
    border: 1px solid black;
    border-radius: 15px;
}

.hr{
    position: absolute;
    background-color: white;
    height: 3px;
    width: 28px;
    left: 0px;
    top: 6px;
    border: 1px solid black;
}

.vr{
    position: absolute;
    background-color: darkgray;
    height: 8px;
    width: 3px;
    left: 13px;
    top: 22px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.circle{
    position: absolute;
    background-color: darkgrey;
    height: 8px;
    width: 8px;
    top: 13px;
    left: 10px;
    border-radius: 30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}