.icon-move{
    float: right;
    margin-top: -34px;
}
.fa-bell:before{
    margin-right: 60px;
}
.fa-angle-down:before{
    margin-right: 60px;
}
.logo{
    margin-left: 50px;
}
.top-inbox-set-button{
    text-decoration: none;
}
.button-decoration{
    border: 1px solid black;
    margin: 5px;
    border-radius: 15px 13px 13px 14px;
    padding-right: 40px;
    cursor: pointer;
    font-size: 18px;
}
.fa-minus{
    border: 1px solid black;
    border-radius: 100px;
    width: 15px;
    padding: 4px;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: -8px;
}
.fa-rupee-sign{
    border: 1px solid black;
    border-radius: 100px;
    width: 15px;
    padding: 4px;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: -8px;
}
.fa-info{
    border: 1px solid black;
    border-radius: 100px;
    width: 15px;
    padding: 4px;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: -8px;
}
.fa-file{
    border: 1px solid black;
    border-radius: 100px;
    width: 15px;
    padding: 4px;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: -8px;
}
.box-inbox-set{
    overflow: auto;
    border: 2px solid #00000054;
    border-radius: 10px 10px 0 0;
    margin: 35px;
    margin-top: 80px;
}
.border-dot{
    font-weight: bold;
}
.Return-Overview-set-color{
    color: #00409f;
}
h3{
    padding-left: 10px;
}
.box-two-inbox-set{
    display: flex;
    flex-wrap: wrap;
}
h4{
    padding-left: 100px;
}
span{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 70px;
    padding-bottom: 20px;
}
.Error-Type-set{
    padding-right: 35px;
}
.View-Fix-Error{
     padding-right: 20px;;
}
.box-two-inbox-set{
    background: #80808029;
    margin: 6px 6px 6px 6px ;
}
.last-button-set{
    background: #80808029;
    padding: 9px;
    border: #80808029;
    margin-top: 60px;
    margin-bottom: 25px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
.set-error-color-red{
    color: red;
}
.set-error-color-yellow{
    color: #e1e10ddb;
}
table{
    margin: auto;
    border-collapse: collapse;
    width: 95%;
    background-color: #f2f2f2;
}

tr{
    text-align: center;
    padding: 10px;
}



td{
    padding: 15px;
    border-left: 2px solid skyblue;
}

th{
    padding: 15px;
    border-left: 2px solid skyblue;
}

.error-colorred{
    color: red;
}

.error-color{
    color: darkkhaki;
}

.no-bor{
    border-left: 2px solid white;
}

.row-borg{
    border-top: 1px solid grey;
}

.row-bor{
    border-top: 1px dotted skyblue;
}